<div class="modal-popup">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Trip</h5>
        </div>
        <div class="modal-body">
            <div>
                <label>Trip Name</label>
                <input type="text" />
            </div>
            <div>
                <label>Start Location</label>
                <input type="text"/>
            </div>
            <div>
                <label>End Location</label>
                <input type="text"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="edit()">Confirm</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>